<a href="https://colab.research.google.com/github/maruf2349/OOP-lab-II-work/blob/master/Week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
#creating list
lst0=[191,15,2349,"PC-C","FAZLEY ATIF MARUF",[1,2,3,4,5,]]
lst2=[1,4,5,6,7]
lst1=[242345,423534,4325,"CSE"]

print(lst0)

print(lst1)

print(lst2)

[191, 15, 2349, 'PC-C', 'FAZLEY ATIF MARUF', [1, 2, 3, 4, 5]]
[242345, 423534, 4325, 'CSE']
[1, 4, 5, 6, 7]

In [31]:
#iterating list

lst0=[191,15,2349,"PC-C","FAZLEY ATIF MARUF",[1,2,3,4,5,]]
lst1=[242345,423534,4325,"CSE"]
lst2=[1,4,5,6,7]


for i in lst0:
    print(i,end=' ')
print('')
for i in lst1:
    print(i,end=' ')
print('')
for i in lst2:
    print(i,end=' ')
print('')

191 15 2349 PC-C FAZLEY ATIF MARUF [1, 2, 3, 4, 5]
242345 423534 4325 CSE
1 4 5 6 7

In [34]:
#iterating list

lst0=[191,15,2349,"PC-C","FAZLEY ATIF MARUF",[1,2,3,4,5,]]
print(lst0[2])
print(lst0[3])
print(lst0[4])

2349
PC-C
FAZLEY ATIF MARUF

In [36]:
#List operations

lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]

print(len(lst0))                #len( ) gives the length of the list

lst0.append([12,2,12,2])        #append( ) inserts an element to the end of the list
print(lst0)

lst0.insert(2,"pandas")         #insert( ) insertes an element on a given index
print(lst0)

lst0.remove(3)                  #remove( ) removes first occurence of an element
print(lst0)

print(lst0.index("python"))     #index( ) returns index of first occurence of an element

print(lst0.count('pandas'))     #count( ) reuturns the number of occurence of an element

print(lst0.reverse())           #reverse( ) makes a reverse list

lst1=lst0.copy()                #copy( ) makes a copy of list
print(lst1)

lst0.clear()                    #clear( ) makes the list empty
print(lst0)

8
[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 2, 12, 2]]
[1, 2, 'pandas', 3, 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 2, 12, 2]]
[1, 2, 'pandas', 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 2, 12, 2]]
6
1
None
[[12, 2, 12, 2], [2, 32, 3], 'python', 43.23, 2.23, 32, 'pandas', 2, 1]
[]

In [37]:
#lsit slicing

lst0=[191,15,2349,"PC-C","FAZLEY ATIF MARUF",[1,2,3,4,5,]]

print(lst0[2:7])
print(lst0[2:])
print(lst0[:5])
print(lst0[:])

[2349, 'PC-C', 'FAZLEY ATIF MARUF', [1, 2, 3, 4, 5]]
[2349, 'PC-C', 'FAZLEY ATIF MARUF', [1, 2, 3, 4, 5]]
[191, 15, 2349, 'PC-C', 'FAZLEY ATIF MARUF']
[191, 15, 2349, 'PC-C', 'FAZLEY ATIF MARUF', [1, 2, 3, 4, 5]]

In [38]:
#list sorting

lst0=[191,15,2349,"PC-C","FAZLEY ATIF MARUF",[1,2,3,4,5,]]

lst3=sorted(lst2)
print(lst3)
print(lst2)
lst2.sort()
print(lst2)

[1, 4, 5, 6, 7]
[1, 4, 5, 6, 7]
[1, 4, 5, 6, 7]

In [43]:
#creating tuple

MAR0=[191,15,2349,"PC-C","FAZLEY ATIF MARUF",[1,2,3,4,5,]]
print(MAR0)
MAR1=()
print(MAR1)
MAR2=tuple()
print(MAR2)

[191, 15, 2349, 'PC-C', 'FAZLEY ATIF MARUF', [1, 2, 3, 4, 5]]
()
()

In [44]:
#iterating tuple

MAR0=[191,15,2349,"PC-C","FAZLEY ATIF MARUF",[1,2,3,4,5,]]
for i in MAR0:
    print(i,end=' ')
print('')

191 15 2349 PC-C FAZLEY ATIF MARUF [1, 2, 3, 4, 5]

In [51]:
#iterating tuple

MAR0=[191,15,2349,"PC-C","FAZLEY ATIF MARUF",[1,2,3,4,5,]]

print(MAR0[0])
print(MAR0[1])
print(MAR0[2])
print(MAR0[3])

191
15
2349
PC-C

In [52]:
#inserting into tuple

tp0=[191,15,2349,"PC-C","FAZLEY ATIF MARUF",[1,2,3,4,5,]]
tp0+=("pandas",232,3,232,3)
print(tp0)

[191, 15, 2349, 'PC-C', 'FAZLEY ATIF MARUF', [1, 2, 3, 4, 5], 'pandas', 232, 3, 232, 3]

In [56]:
#unpacking sequences

MARUF=(191, 15, 2349, 'PC-C')
a,b,c,d=MARUF
print(a)
print(b)
print(c)
print(d)

191
15
2349
PC-C

In [57]:
#unpacking sequences

MARUF=(191, 15, 2349, 'PC-C')
a,b,c,d=MARUF
print(a)
print(b)
print(c)
print(d)

191
15
2349
PC-C